
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
  background-image: linear-gradient(#0c1901,#0095ffe8);


}
form{
  /* border:1px solid #93c07e; */
  background-image: linear-gradient(#20b7b0d4,#dada10ad);
  width: 50%!important;
  box-shadow: 2px 2px 6px 3px rgba(0,0,0,0.6);


}
.form-signin {
  width: 100%;
  max-width: 700px;
  padding: 15px;
  margin: auto;


}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
  max-width: 500px;
  margin: auto;

}
.form-signin .form-control:focus {
  z-index: 1;
  box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.2);
}
.top {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.middle{
  border-radius: 0;
  margin-bottom: -1px;
}
.bottom {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.btn{
  background-color: #0f3738!important;
  box-shadow: 1px 5px 13px 3px rgba(0,0,0,0.6);
  border:none;
  transition:0.3s ease;
  max-width: 500px;
  margin:auto;


}
.btn:hover{

  background-color: #2ba094!important;

}
.btn:active{

}

.title{
  color:#ffffff;
  font-weight: bold!important;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
  font-size: 37px;


}
